@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* globals.css */
:root {
  --foreground: #333;
  --background: #fff;
  --font-elron-mono: 'Elronmonospace', Arial, Helvetica, sans-serif; /* Custom font family with fallbacks */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-elron-mono); /* Apply custom font */
}

body::-webkit-scrollbar {
  display: none;  
}

